.heading
{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color:black;
}
body{
    background-size: cover;
}
.divspeed
{
    float:left;
}
.divspeedimg{
    width: 200px;
    border-radius: 100px;
}
#speed
{
    font-size: 23px;
    margin: 15px;
}
.divvolume{
    float: right;
}
.divvolumeimg
{
    width: 200px;
    border-radius: 100px;
}
#volume{
    font-size: 23px;
    margin: 15px;
}
.playbutton{
    width: 160px;
    font-size: 25px;
    margin-bottom:100px;
}
canvas{
    margin-top: 140px;
    border: 5px solid white;
    border-radius: 20px;
}